<html>
    <head>
        <meta charset="utf-8">
        <title>Desventajas MVC</title>
    </head>
    <body>
        <h1>Desventajas de MVC</h1>
        <p>Una de las desventajas que encuentro de momento con este modelo es que aún me parece bastante complicado y no lo comprendo del todo, aunque con el tiempo esto mejorará.</p>
        <p>Otra situación que podría complicar el desarrollo es la cantidad de archivos de los que se debe tener rastro cuando el proyecto crece, pues estos empiezan a aumentar bastante con el tiempo.</p>
    </body>
</html>