<html>
    <head>
        <meta charset="utf-8">
        <title>Ventajas MVC</title>
    </head>
    <body>
        <h1>Ventajas de MVC</h1>
        <p>Dividir el código hace que sea más fácil de gestionar, modificar e incluso reutilizar.</p>
        <p>Al trabajar por separado en diferentes partes del programa, hay pocas posibilidades de que los cambios de una persona afecten a las demás.</p>
        <p>Es más facil realizar pruebas en cada parte del código.</p>
    </body>
</html>